<div class="filter-panel">
  <form class="form">
    <div class="filter-panel__item">
      <input type="text" class="form__input" placeholder="Search"
        ng-model="vm.model.q">
    </div>
    <div class="filter-panel__item">
      <div class="input-group">
        <input class="form__input" type="text" placeholder="Min cost"
          ng-model="vm.model.cost_gte">
      </div>
    </div>
    <div class="filter-panel__item filter-panel__item--right15">
      <div class="input-group">
        <input class="form__input" type="text" placeholder="Max cost"
          ng-model="vm.model.cost_lte">
      </div>
    </div>
    <div class="filter-panel__item filter-panel__item--right15">
      <div class="input-group">
        <label class="filter-panel__item-label" for="photos">
          <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
        </label>
        <input id="photos" type="checkbox" ng-model="vm.model.photos"
          ng-change="photos(vm.model.photos_like)">
      </div>
    </div>
    <div class="filter-panel__item filter-panel__item--right15">
      <label for="longTerm" for="form__label">Long term</label>
      <input class="form__input" id="longTerm" type="checkbox"
        ng-model="vm.model.longTerm">
    </div>
  </form>
</div>
